* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.background-image {
    background: url(https://github.com/Carla-Codes/starry-night-css-animation/blob/master/stars.png?raw=true), linear-gradient(black,
    #17022c, #1b142c, #250404, #723000);
    background-size: 100%;
    height: 100%;
    width: 100%;
}
.h1 {
    font-size: 80px;
    font-family: 'Gentium Basic', serif;
    margin-top:0;
    margin-bottom: 10px;
    text-align: center;

    color:#ffffff;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

.wrapper {
    font-size: 23px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}


 .text-underline-hover {
     text-decoration: none;
 }

 .text-underline-hover:hover {
     text-decoration: underline;
     text-underline-offset: 1em;
 }

 .container-fluid{
     z-index: 3;
     padding-bottom: 25px;
     /* change text color if needed --- color: deeppink; */
}
.card {
    background-color: lightgray;
    max-height: 300px;
    font-size: 23px;
    margin-bottom: 30px;
}

.img-fluid {
    max-width: 250px;
    max-height: 299px;
}
.p {
    color: lightgray;
}
body {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    text-align: center;
}
