
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'EB Garamond', serif;
}

.paletteSquare {
    /* these styles will let the divs line up next to each other
       while accepting dimensions */
    display: inline-block;
    float: none;
    cursor: pointer;

    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 2px 10px #212529;

}

.paletteSquare:hover {
    box-shadow: 0px 4px 10px #212529;
}

.paletteSquare:active {
    box-shadow: 0px 1px 10px #212529;
}


.background-image {
    background: url(/media/stars.png), linear-gradient(black, black, #08040e, #050307, #130723);
    background-size: cover;
    height: 100%;
    width: 100%;
}


.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
    text-underline-offset: 1em;
}

.title h1{
    font-size: 70px;
    font-family: 'Gentium Basic', serif;
    margin-top:0em;
    margin-bottom: .5em;
    text-align: center;

    color:#ffffff;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.title p{
    font-size: 22px;
    font-family: 'Gentium Basic', serif;
    margin-top:0em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

    color: #c4c0c0;
}
.flex-sm-column {
    font-size: 18px;
    text-align: center;
    text-emphasis: black;
    background-color: #333333;
    opacity: .8;
}
.card {
    background-color: lightgray;
    padding-bottom: 10px;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p {
    color: lightgray;
    Font-Size: 15px;
}

